@import '../Styles.scss';



.AddItem{
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .AddItem-text{
        margin: 0;
        font-weight: bold;
        font-size: $text-heading;
        transition: .2s;
        color: black;

        &:hover{
            transition: .2s;
            color: $color-orange;
        }
    }

    .AddItem-line{
        height: 4px;
        width: 3rem;
        transition: .2s;
        background-color: $color-highlight;

        &:hover{
            transition: .2s;

            background-color: $color-orange;
        }
    }
}