.top-nav {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  width: 100vw;
}

.home {
  background-color: #f4f4f4;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
  max-width: 81.25em;
}

.left-nav {
  height: 100vh;
}

.content {
  height: 100%;
  width: 100%;
}

@media only screen and (max-m: 1300) {
  .body {
    padding-left: 0;
    padding-right: 0;
  }

  .top-nav {
    padding: 0;
  }

  .top-nav h2 {
    margin-left: 50px;
  }

  .top-nav .auth-btn {
    margin-right: 50px;
  }
}
