@import "./Styles.scss";

.Panel {
  padding-top: 20px;
  padding-bottom: 15px;
  height: 100vh;
  width: 17rem;
  z-index: 200;

  .Panel-item.selected {
    background-color: $color-orange;
  }

  .Panel-item {
    transition: 0.1s;
    padding: 18px 20px;
    cursor: pointer;

    p {
      font-weight: bold;
      margin-left: $space-base;
      font-size: $text-small;
    }

    .selected {
      background-color: $color-orange;
    }

    &:hover {
      background-color: $color-orange;
      transition: 0.1s;
    }

    .Panel-content {
      color: $color-dark;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .Panel-subitem {
    padding-left: 3em;
    .Panel-sub-content {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        transition: 0.1s;
        color: $color-highlight;
      }

      p {
        font-size: $text-small;
        margin-left: $space-base;
      }
    }
  }

  .text {
    font-size: 18px;
    transition: 0.1s;
    padding: 1px 20px;
  }

  .highlight {
    color: $color-highlight;
    font-weight: bold;

    &:hover {
      color: $color-orange;
      transition: 0.1s;
    }
  }
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 0.1px;
  background-color: $color-brightgrey;
}
