// color styles

$color-dark: #455358;
$color-orange: #ffcd1f;
$color-highlight: #3ccfcf;
$color-brightgrey: #f4f4f4;

// hover
$color-highlight-hover: #3ccfcf8f;


// text size
// 1rem = 10px,  1.3em = 13px,  2em = 20px
$text-small: 0.875rem;
$text-tiny: 0.625rem;
$text-title: 2rem;
$text-bit-title: 2.375rem;
$text-header: 1.25rem;
$text-big: 1.5rem;
$text-heading: 1rem;
$text-heading-card: 1.125rem;

$text-weight-header: 700;
$text-weight-button: 600;

// space
$space-base: 0.8em;
$space-content: 3em;
