.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4257b2;
  width: 100%;
  height: 90px;

  padding-left: 270px;
  padding-right: 270px;
}

.logout-btn {
  display: flex;
  flex-direction: row;
}

.left-content {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.topnav h2 {
  color: white;
  margin: 0;
}

/*
tool button
*/

.nav-div {
  margin-left: 25px;
  margin-right: 25px;
  width: 2px;
  height: 10x;
  background-color: #3b4c9b;
}

.nav-tools {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.tool p {
  font-weight: bold;
  margin-left: 10px;
}

.tool {
  transition: 0.2s;
  color: white;
  display: flex;
  flex-direction: row;
}

.tool:hover {
  transition: 0.2s;
  color: #a7b2b7;
}
