.DeleteAccountPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .SettingsBox-logo {
    display: block;
    flex: 1;
    color: #455358;

    .icon {
      margin: 0 auto;
      font-size: 50px;
      margin: 0.625rem auto 0.5rem;
      display: block;
    }

    .Header {
      text-align: center;
      margin: 0 auto;
    }
  }

  .DeleteAccountPanel-content {
    margin-left: 30px;
    flex: 3;
    padding: 20px;
    background-color: white;

    p {
      text-align: left;
      display: block;
    }
  }

  p {
    margin: 0 auto;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.DeleteAccountPanel-delete-btn {
  display: inline-block;
}
