.LoginPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .LoginPanel-input-entry {
    display: flex;
    flex-direction: column;
  }

  .SettingsBox-logo {
    flex: 1;
    color: #455358;
    display: block;
    .icon {
      margin: 0 auto;
      font-size: 50px;
      margin: 0.625rem auto 0.5rem;
      display: block;
    }

    .Header {
      text-align: center;
      margin: 0 auto;
    }
  }

  .LoginPanel-content {
    margin-left: 30px;
    flex: 3;
    padding: 20px;
    background-color: white;
  }

  .LoginPanel .icon {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    display: block;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }

  #submitBtn {
    margin-top: 20px;
  }
}
